*{
    margin: 0;
    padding: 0;
}
.table{
    background-color: lightyellow;
    border-left: 7px solid darkgoldenrod;
}
.title{
    color:dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}