*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 400px;
}
.title{
    line-height: 70px;
}
.table{
    text-align: center;
    width: 1600px;
    height: 250px;
    border: 1px solid #F2F2F2;
    border-collapse: collapse;
}
.header{
    background-color: #027BFF;
    color: white;
    height: 50px;
}
.table1{
    background-color: lightgray;
    height: 50px;
}
.table2{
    background-color: white;
    height: 50px;
}
.view{
    height: 30px;
    width: 60px;
    background-color: #28A745;
    color: white;
    border: 0;
}
.update{
    height: 30px;
    width: 60px;
    background-color: #FFC109;
    border: 0;
}
.delete{
    height: 30px;
    width: 60px;
    background-color: #DC3545;
    color: white;
    border: 0;
}
